.traffic-company{background-color: #fff; padding-left: 15px;}
.trafficcom-list{padding:10px 15px 10px 0; overflow: hidden; position: relative; border-bottom: 1px solid #d6d9eb;}
.trafficcomll{position: absolute; top:16px; left:0; text-align: left;}
.trafficcomll img{display: inline-block; width:50px;}
.trafficcomlr{position: absolute; right:15px; top:24px; text-align: right;}
.trafficcomlr a{display:inline-block;}
.trafficcomlr img{display: inline-block; width:34px;}
.trafficcomlc{display: block; width:100%; padding:5px 45px 5px 60px;}
.trafficcomlc h3{font-size: 16px; color:#494f55;}
.trafficcomlc-phone{font-size: 16px; color:#5383e5; padding-top:10px;}





