body{background-color: #f1f5f8;}
.xscard-con{padding:0 10px;}
.xscard-title{font-size: 14px; color:#8b9bab; line-height: 30px;}
.xscard-img img{display: block; width:100%;}
.xscard-btn{margin:20px 0;}
.xscard-btn a{display: block; width:100%; height:50px; line-height: 50px; text-align: center; font-size: 18px; color:#2cc5b4; background-color: #fff;}




